<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mycommunity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fruit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".community.postDetail.commonPost.PostDetailActivity">
        </activity>
        <activity android:name=".news.headLine.newsDetail.NewsDetailActivity" >
        </activity>
        <activity android:name=".community.newPost.NewPostActivity" >
        </activity>
        <activity android:name=".function.forSecretary.ForSecretaryActivity" />
        <activity android:name=".function.forWater.ForWaterActivity" />
        <activity android:name=".function.repair.RepairActivity" />
        <activity android:name=".mine.userImg.SelectUserImgActivity" />
        <activity android:name=".mine.ResetPasswordActivity" />
        <activity android:name=".mine.UserAccountActivity" />
        <activity android:name=".login.CommunityListActivity" />
        <activity
            android:name=".main.MainCommunity"
            android:label="@string/title_activity_main_community">
        </activity>
        <activity android:name=".test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.ForgetPassWord" />
        <activity android:name=".login.RegisterActivity" />
        <activity android:name=".login.LoginActivity" >
        </activity>
        <activity android:name=".MainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.selectuserimg.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>